@page { size:21.0cm 29.7cm; margin:1cm 0.5cm 1cm 0.5cm; }
body {
	margin: 0mm;
	padding: 0mm;
	font-family: Arial;
}

.container {
	width:20cm;
	margin: 0mm;
	padding: 0mm;
}

.ticket {
	height: 4cm;
/*	border: 1px dotted #ccc;*/
	float: left;
	padding: 3mm;
	margin-left: 3mm;
	min-width: 5.6cm;
	/*page-break-inside: avoid;*/
}

.tickettext {
	/*float: left;*/
}

.ticketimg {
	float: right;
	margin: -1mm 0 0 0;
	padding: 0px;
}

.ticketimg img {
	height: 2cm;
	margin: 0px;
	padding: 0px;
}

.patron {
	font-size: 26pt;
	font-family:Haettenschweiler;
}

.room {
	margin-top: 4mm;
}

.time {
	margin-bottom: 1mm;
	margin-top: 3mm;
}

.room, .time {
	font-size: 10pt;
	width: 60%;
	text-align: left;
}

.evalink {
	font-size: 7pt;
	clear: both;
}

code {
	width: 100%;
	font-family: Monaco, monospace;
	font-size: 10.5pt;
}
