@page { size:21.0cm 29.7cm; margin:1cm 0.5cm 1cm 0.5cm; }
body {
	margin: 0mm;
	padding: 0mm;
	font-family: Arial;
}

.container {
	width:20cm;
	margin: 0mm;
	padding: 0mm;
}

.ticket {
	width: 6cm;
/*	border: 1px dotted #ccc;*/
	float: left;
	padding: 3mm;
	page-break-inside: avoid;
}

.tickettext {
	float: left;
/*	width: 4.3cm; */
}

.ticketimg {
	float: right;
	margin: 2mm 0 0 0;
	padding: 0px;
}

.ticketimg img {
	height: 1.81cm;
	margin: 0px;
	padding: 0px;
}

.patron {
	font-size: 16pt;
	font-family:Haettenschweiler;
}

.room {
	margin-top: 1mm;
}

.time {
	margin-bottom: 1mm;
}

.room, .time {
	font-size: 8pt;
	width: 100%;
	text-align: right;
}

.evalink {
	font-size: 7pt;
	clear: both;
}

code {
	width: 100%;
	font-family: Monaco, monospace;
	font-size: 10.5pt;
}
