/*============================================================================
// Name        : style.css
// Author      : Patrick Reipschläger
// Version     : 1.0
// Date        : 2013
// Description : Provides some customized styling for the twitter bootstrap
//               css files. Used for the ESE questionnaire.
//==========================================================================*/

input[type="text"]
{
	margin-top:5px;
}

input[type="checkbox"]
{
	background-color:#FFF0F0;
}

input[type="submit"]
{
	background-color:#E0E0FF;
	font-size:16pt;
}

label
{
	font-weight:normal;
}

textarea.form-control
{
	height:100px;
}

p.lead
{
	margin-top:10px;
	margin-bottom:10px;
}

p.center
{
	text-align:center;
}

div.container
{
	background-color:#F8F8FF;
}

div.row
{
	margin-left:0px;
	margin-right:0px;
}

div.equalrow
{
	background-color:#F0F0FF;
}

div.unequalrow
{
	background-color:transparent;
}

div.hidden
{
	display:none;
}

h1
{
	text-align:center;
}